<!-- FORM -->
				<!-- pass in the variable if our form is valid or invalid -->
				<form novalidate  ng-submit="vmResetPassword.resetPassword()"> 
					
					<!-- PASSWORD -->
					<div class="form-group">
						<label>Mot de passe</label>
						<input type="password" name="password" class="form-control" ng-model="vmResetPassword.password"  ng-minlength="6" ng-maxlength="20" required >	
					</div>
					
					<!-- PASSWORD BIS -->
					<div class="form-group" >
						<label>Répétez le mot de passe</label>
						<input type="password" name="passwordBis" class="form-control" ng-model="vmResetPassword.passwordBis" required>			
					</div>
					<!-- SUBMIT BUTTON -->
					<button id="resetPasswordButton" type="submit" class="btn btn-primary spacer" >Valider</button>
				</form>