<link href="css/search-box.css" rel="stylesheet" type="text/css">
<div class="container">
	<div cg-busy="{promise:root.busy,message:root.loadingMessage}"  class="col-sm-6 col-sm-offset-3">
	<!-- PAGE HEADER -->
		<div class="page-header"><h1>Votre inscription</h1></div>
		<p><h3><small>Nous vous enverrons un email pour valider votre inscription, vous pourrez ensuite compléter votre profil :</small></h3></p>
			
				<!-- FORM -->
				<!-- pass in the variable if our form is valid or invalid -->
				<form name="vm.userForm" novalidate  ng-submit="vm.localSignup()"> 
					<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
					<!-- EMAIL -->
					<div class="form-group" ng-class="{ 'has-error' : vm.formSubmitted && (vm.userForm.email.$invalid || !vm.emailAvailable) }">
						<label>Email</label>
						<input type="email" name="email" class="form-control" ng-model="vm.user.email" required> 
						<p ng-show="vm.userForm.email.$error.required && vm.formSubmitted" class="help-block">Entrez un email</p>
						<p ng-show="vm.userForm.email.$invalid && vm.formSubmitted" class="help-block">Le format du mail est invalide.</p>
						<p ng-show="!vm.emailAvailable && vm.formSubmitted" class="help-block">Cet email est déjà utilisé.</p>
					</div>
					
					<!-- PASSWORD -->
					<div class="form-group" ng-class="{ 'has-error' : vm.userForm.password.$invalid && vm.formSubmitted }">
						<label>Mot de passe</label>
						<input type="password" name="password" class="form-control" ng-model="vm.user.password"  ng-minlength="6" ng-maxlength="20" required >
						<p ng-show="vm.userForm.password.$error.required && vm.formSubmitted" class="help-block">Mot de passe obligatoire</p>
						<p ng-show="vm.userForm.password.$error.minlength && vm.formSubmitted" class="help-block">Le mot de passe est trop court ( 6 caractères minimum)</p>
						<p ng-show="vm.userForm.password.$error.maxlength && vm.formSubmitted" class="help-block">Le mot de passe est trop long ( 20 caractères maximum)</p>		
					</div>
					
					<!-- PASSWORD BIS -->
					<div class="form-group" >
						<label>Répétez le mot de passe</label>
						<input type="password" name="passwordBis" class="form-control" ng-model="vm.user.passwordBis" required>
						<p ng-show="vm.formSubmitted && vm.userForm.passwordBis.$error.required " class="help-block">Champ obligatoire</p>			
						<p ng-show="vm.formSubmitted && !vm.passwordEquals" class="help-block">Les mots de passe ne correspondent pas</p>			
					</div>
					<div class="form-group" >
						<label>Etes-vous : </label>
						<div class="checkbox">
							<label class="spacer-right">
							  <input type="checkbox"> Producteur
							</label>
							<label>
							  <input type="checkbox"> Consommateur
							</label>
						 </div>
					</div>
					<!-- SUBMIT BUTTON -->
					<div class="alert alert-danger" ng-show="(loginMessages.length > 0)">
						<p ng-repeat="loginMessage in loginMessages">{{loginMessage}}</p>
					</div>
					<button id="inscriptionButton" type="submit" class="btn btn-primary spacer" >Valider</button>
				</form>
		<div class="spacer">
			<p>Inscrivez-vous ou identifiez-vous avec Facebook :</p>
			<a href="/auth/facebook" target="_self" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		</div>
	</div>
</div>
