<div class="row">
        <form class="form-horizontal encadrement_leger" name="information_personnelle">
			   <legend>Mes informations personnelles</legend>
          <div class="form-group">
            <label for="email" class=" col-xs-2 control-label">Email</label>
            <div class="col-xs-10">
              <input type="email" class="form-control" id="email" ng-model="vm.userProfil.email" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <label for="text" class="col-xs-2 control-label">Nom</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="nom" ng-model="vm.userProfil.nom" placeholder="Nom">
            </div>
          </div>
          <div class="form-group">
            <label for="prenom" class="col-xs-2 control-label">Prénom</label>
            <div class=" col-xs-10">
              <input type="text" class="form-control" id="prenom" ng-model="vm.userProfil.prenom" placeholder="Prénom">
            </div>
          </div>
          <div class="form-group">
            <label for="age" class="col-xs-2 control-label">Age</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="age" ng-model="vm.userProfil.age" placeholder="Age">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-8 ">
              <a ui-sref="profil.coordonnees" id="adresseButton" ng-click="vm.saveProfil()" class="btn btn-sm btn-success">Suivant <span class="glyphicon glyphicon-floppy-save"></span></a>
            </div>
          </div>
          <div>Select an image file: <input type="file" id="fileInput" /></div>
            <div class="cropArea">
              <img-crop image="vm.myImage" result-image="vm.myCroppedImage"></img-crop>
            </div>
            <div>Cropped Image:</div>
            <div><img ng-src="{{vm.myCroppedImage}}" /></div>
          </div>
        </form>
</div>
