.angular-google-map-container { height: 400px; }
.spacer{
	margin-top:15px;
}
.spacer-right{
	margin-right:10px;
}
.pointeur{
	cursor: pointer;
}
.encadrement_leger {
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}