.angular-google-map-container { height: 400px; }
.spacer{
	margin-top:15px;
}
.spacer-right{
	margin-right:10px;
}
.pointeur{
	cursor: pointer;
}
.encadrement_leger {
  padding:10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.thumbnail {
      max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;
}
.thumbnail>img {
      max-width: 200px; max-height: 150px; line-height: 20px; margin-bottom: 5px;
}