<div class="container col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" editable-text="producteur.name" e-form="textBtnForm" onbeforesave="updateProducteur($data)">
				{{ producteur.name || "empty" }}
				<a><span class="glyphicon glyphicon-pencil" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible" aria-hidden="true"></span></a>
			</h3>
		</div>
		<div class="panel-body">
			<p>{{producteur.name}}</p>
			<p>{{producteur.adresse}}</p>
		</div>
		

	</div>
</div>
<div class="container col-md-5">
	<!-- <div class="input-group">
		<span class="input-group-addon">@</span>
		<input id="mysearchbox" type="text" class="form-control" placeholder="Username">
	</div> 
	<script type="text/ng-template" id="searchbox.tpl.html">
					<input type="text" placeholder="Search Box">
	</script>
	<ui-gmap-google-map
                center="map.center"
                zoom="map.zoom"
                dragging="map.dragging"
                bounds="map.bounds"
                events="map.events"
                options="map.options"
                pan="true"
                control="map.control"
                >
		<ui-gmap-search-box template="searchbox.template" position="searchbox.position"></ui-gmap-search-box>
       </ui-gmap-google-map> -->
	
		<input type="text" class="form-control" placeholder="Entrez votre nom">
	<div class="input-group">
		<span class="input-group-addon">Prénom : </span>
		<input type="text" class="form-control" placeholder="Entrez votre prénom">
	</div> 
	 
	</div>