<div class="alert alert-danger" ng-show="(loginMessages.length > 0)">
	<p ng-repeat="loginMessage in loginMessages">{{loginMessage}}</p>
</div>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>EMAIL</th>
			<th>PASSWORD</th>
			<th>ROLE</th>
		</tr>
    </thead>
    <tbody>
		<tr ng-repeat="user in usersList">
			<td>{{user.id_user}}</td>
			<td>{{user.email}}</td>
			<td>{{user.password}}</td>
			<td>{{user.id_profil}}</td>
			<td><span class="glyphicon glyphicon-trash pointeur" aria-hidden="true" ng-click="suppressionUtilisateur($index,user.id_user)"></span>
		</tr>
    </tbody>
</table>