<div class="form-horizontal spacer" >
	<div ng-show="vmUserMaps.initDone">
		<div class="form-group" ng-show="vmUserMaps.editMode=='edit' || vmUserMaps.editMode=='new'">
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Commencez à entrer votre adresse dans la barre d'adresse
			</div>
			<label for="mobile" class="col-xs-2 control-label ">Adresse postale</label>
			<div class=" col-xs-8" id="userMapsControllerParent"></div>
			<div class=" col-xs-2">
				<a ng-show="vmUserMaps.editMode=='edit'" ng-click="vmUserMaps.editMode='read'" id="AnnulerAdresseButton" class="btn btn-sm btn-danger">Annuler </a>
			</div>
		</div>
		<div class="alert alert-warning alert-dismissible" ng-show="vmUserMaps.place_changed" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				Cliquez sur le marqueur pour confirmez votre adresse
		</div>
		<div class="form-group" ng-show="vmUserMaps.editMode=='read'">
			<label for="email" class=" col-xs-2 control-label">Adresse validée</label>
			<div class="col-xs-8">
				<p class="form-control-static">{{vmUserMaps.user.Adresse.formatted_address}}</p>
			</div>
			<div class=" col-xs-2">
				<a ng-click="vmUserMaps.editMode='edit'" id="modifierAdresseButton" class="btn btn-sm btn-warning">Modifier </a>
			 </div>
		</div>
	</div>
	<div>
	  <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging"
	  bounds="map.bounds" events="map.events" options="map.options"
	  pan="true"  control="map.control">
		 <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv" ></ui-gmap-search-box>
		 <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'"   click="'onClicked'">
		 </ui-gmap-markers>
	  </ui-gmap-google-map>
	</div>
	<div class="form-group spacer">
		<div class="col-xs-offset-10 col-xs-2">
			<a ng-click="vmUserMaps.logMap()" id="mobileButton" class="btn btn-sm btn-success">Poursuivre <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
		</div>  
	</div>
	
	<!-- modal pour valider son adresse -->
	<modal title="Votre adresse" visible="showModal">
		<div class="form-horizontal" >
			<div class="form-group">
				<label for="email" class=" col-xs-6 control-label">Votre adresse</label>
				<div class="col-xs-6">
					<p class="form-control-static">{{vmUserMaps.place.formatted_address}}</p>
				</div>
			</div>
			<div class="form-group">
		            <div class="col-xs-offset-5 ">
		            	<!-- <a ui-sref="profil.mobile" id="adresseButton" ng-click="vm.saveAdresse()" class="btn btn-success"> -->
		            	<a id="adresseButton" ng-click="vmUserMaps.saveAdresse()" class="btn btn-success">J'habite ici ! </a>
		            </div>
		   </div>
		</div>
	</modal>
</div>
