
      <form class="form-horizontal" name="information_personnelle" ng-show="vmUserInfo.ajax">
			<legend>Mes informations personnelles</legend>
			<div class="form-group">
				<label for="email" class=" col-xs-2 control-label">Email</label>
				<div class="col-xs-10">
					<p class="form-control-static" id="userInfoEmail">{{vmUserInfo.user.email}}</p>
				</div>
			</div>
            
			<div class="form-group">
				<label for="text" class="col-xs-2 control-label">Nom</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="nom" ng-model="vmUserInfo.user.nom" placeholder="Nom">
				</div>
			</div>
			<div class="form-group">
				<label for="prenom" class="col-xs-2 control-label">Prénom</label>
				<div class=" col-xs-10">
					<input type="text" class="form-control" id="prenom" ng-model="vmUserInfo.user.prenom" placeholder="Prénom">
				</div>
			</div>
			<div class="form-group">
				<label for="age" class="col-xs-2 control-label">Age</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="age" ng-model="vmUserInfo.user.age" placeholder="Age">
				</div>
			</div>
			<div class="form-group">
				<label for="image" class="col-xs-2 control-label">Photo de profil</label>
				<div class="col-xs-10" ng-show="!vmUserInfo.profilImage">
					<div id="userInfoUploadButton" class="btn btn-sm btn-success" ng-file-select ng-model="vmUserInfo.files" >Ajouter</div>
					</div>
					<div class="col-xs-10" ng-show="vmUserInfo.profilImage">
						<img class="image-arrondie" ng-src="{{vmUserInfo.profilImage}}" onerror="this.src='/storage/image_not_found.png'"/>
					<div id="userInfoUploadButtonModify" class="btn btn-sm btn-success" ng-file-select ng-model="vmUserInfo.files" >Modifier</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-10 col-xs-2">
					<a id="saveUserInfoButton" ng-click="vmUserInfo.saveProfil()" class="btn btn-sm btn-success">Poursuivre <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
				</div>  
			</div>

		</form>
		<!-- modal pour choisir et tailler la photo -->
		<modal title="Login form" visible="showModal">
			<form role="form">
			  <div class="cropArea"><img-crop image="vmUserInfo.uploadedImage" result-image="vmUserInfo.croppedImage"></img-crop></div>
			  <div id="userInfoUploadButtonOK" class="btn btn-sm btn-success" ng-click="vmUserInfo.updateProfilImage()">OK</div>
			</form>
		</modal>