<link href="css/search-box.css" rel="stylesheet" type="text/css">
<div class="container">

	<div class="col-sm-6 col-sm-offset-3">
	<!-- PAGE HEADER -->
		<div class="page-header"><h1>Votre inscription</h1></div>
		<p><h3><small>Nous vous enverrons un email pour valider votre inscription, vous pourrez ensuite compléter votre profil :</small></h3></p>
		<!-- FORM -->
		<!-- pass in the variable if our form is valid or invalid -->
		<form name="userForm" novalidate ng-controller="AuthentificationController" ng-submit="submitForm(userForm.$valid)"> 
			<!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
			<!-- EMAIL -->
			<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<label>Email</label>
				<input type="email" name="email" class="form-control" ng-model="user.email" ng-blur="checkEmailAvailable()">
				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Le format du mail est invalide.</p>
				<p ng-show="!emailAvailable" class="help-block">Cet email est déjà utilisé.</p>
			</div>
			
			<!-- PASSWORD -->
			<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
				<label>Mot de passe</label>
				<input type="password" name="password" class="form-control" ng-model="user.password"  ng-minlength="6" ng-maxlength="20">
				<p ng-show="userForm.password.$error.minlength" class="help-block">Le mot de passe est trop court ( 6 caractères minimum)</p>
				<p ng-show="userForm.password.$error.maxlength" class="help-block">Le mot de passe est trop long ( 20 caractères maximum)</p>		
			</div>
			
			<!-- PASSWORD BIS -->
			<div class="form-group" >
				<label>Répétez le mot de passe</label>
				<input type="password" name="passwordBis" class="form-control" ng-model="user.passwordBis" ng-blur="checkPasswordEqual()">
				<p ng-show="!passwordEquals" class="help-block">Les mots de passe ne correspondent pas</p>			
			</div>
				<div class="form-group" >
				<label>Etes-vous : </label>
				<div class="checkbox">
					<label class="spacer-right">
					  <input type="checkbox"> Producteur
					</label>
					<label>
					  <input type="checkbox"> Consommateur
					</label>
				 </div>
			</div>
			<!-- SUBMIT BUTTON -->
			<div class="alert alert-danger" ng-show="(loginMessages.length > 0)">
				<p ng-repeat="loginMessage in loginMessages">{{loginMessage}}</p>
			</div>
			<button id="inscriptionButton" type="submit" class="btn btn-primary spacer"  ng-disabled="!passwordEquals || userForm.email.$invalid || !emailAvailable">Valider</button>			
		</form>
		<div class=".spacer">
			<p>Inscrivez-vous ou identifiez-vous avec Facebook :</p>
			<a href="/auth/facebook" target="_self" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		</div>
	</div>
</div>
