<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>
		<form name="userForm" novalidate ng-controller="AuthentificationController">
			<div class="alert alert-danger" ng-show="(loginMessages.length > 0)">
				<p ng-repeat="loginMessage in loginMessages">{{loginMessage}}</p>
			</div>

			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" ng-model="user.email" id="email" name="email" required>
<!--				<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Le format du mail est invalide.</p> -->
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" ng-model="user.password" id="password" required>
			</div>

			<button id="loginButton" type="submit" ng-click="login()" ng-disabled="!userForm.$valid" class="btn btn-warning btn-lg">Login</button>
		</form>
    <p class="spacer">Pas encore de compte ? <a href="/auth/inscription">Inscrivez-vous !</a></p>
    <p>Ou retournez à l'<a href="/">accueil </a></p>

</div>

</div>