  <div class="row">
	   <div class="col-md-6 ">
        <form class="form-horizontal encadrement_leger" name="information_personnelle">
			   <legend>Mes informations personnelles</legend>
          <div class="form-group">
            <label for="email" class=" col-xs-2 control-label">Email</label>
            <div class="col-xs-10">
              <input type="email" class="form-control" id="email" ng-model="vm.userProfil.email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-2 ">
              <a href="#" id="adresseButton" ng-click="vm.checkAdresse()" class="btn btn-sm btn-success">Adresse <span class="glyphicon glyphicon-floppy-save"></span></a>
            </div>
          </div>
          <div class="form-group">
            <label for="text" class="col-xs-2 control-label">Nom</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="nom" ng-model="vm.userProfil.nom" placeholder="Nom">
            </div>
          </div>
          <div class="form-group">
            <label for="prenom" class="col-xs-2 control-label">Prénom</label>
            <div class=" col-xs-10">
              <input type="text" class="form-control" id="prenom" ng-model="vm.userProfil.prenom" placeholder="Prénom">
            </div>
          </div>
          <div class="form-group">
            <label for="mobile" class="col-xs-2 control-label">Mobile</label>
            <div class=" col-xs-10">
              <input type="text" class="form-control" id="mobile" ng-model="vm.userProfil.mobile" placeholder="Téléphone Mobile">
            </div>
          </div>
          <div class="form-group">
            <label for="fixe" class="col-xs-2 control-label">Fixe</label>
            <div class=" col-xs-10">
              <input type="text" class="form-control" id="fixe" ng-model="vm.userProfil.fixe" placeholder="Téléphone Fixe">
            </div>
          </div>
          <div ng-controller="SearchBoxController">
        
              <div class="form-group" >
                  <label for="mobile" class="col-xs-2 control-label">Adresse postale</label>
                  <div class=" col-xs-10" id="searchBoxParent" ng-model="vm.userProfil.adresse"></div>
              </div>
              <div>
                <ui-gmap-google-map center="map.center" zoom="map.zoom" dragging="map.dragging"
                bounds="map.bounds" events="map.events" options="map.options"
                pan="true"  control="map.control">
                  <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>
                  <ui-gmap-markers idkey="map.idkey" models="map.markers" coords="'self'" icon="'icon'"
                    click="'onClicked'">
                  </ui-gmap-markers>
                  <ui-gmap-window coords="selected" idkey="selected.place_id" templateurl="selected.templateurl"
                    templateparameter="selected.templateparameter" options="selected.options"
                    closeClick='selected.closeClick()' ng-cloak>
                  </ui-gmap-window>
                </ui-gmap-google-map>
              </div>
          </div>
        </form>
      </div>
    <div class="col-md-6">
      <form class="form-horizontal encadrement_leger" action="/media/upload" enctype="multipart/form-data" method="post">
        <!-- Form Name -->
        <legend>Présentation</legend>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textarea">La ferme</label>
          <div class="col-md-9">
            <div class="form-control" ckeditor="vm.options" ng-model="vm.userProfil.Fermes[0].presentation_ferme">
            </div>                
          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textarea">Les produits</label>
          <div class="col-md-9">                     
            <textarea class="form-control" id="textarea" name="textarea" ng-model="vm.userProfil.Fermes[0].presentation_produits" placeholder="Entrez du texte" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="textarea">Les méthodes d'élaboration</label>
          <div class="col-md-9">                     
            <textarea class="form-control" id="textarea" name="textarea" ng-model="vm.userProfil.Fermes[0].presentation_methode" placeholder="Entrez du texte" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Les photos de votre exploitation</label>
		<tr ng-repeat="photo in vm.userProfil.Fermes[0].presentation.photos">
			<img src="{{photo}}" class="img-responsive" alt="Responsive image">
		</tr>
      </div>
    </form>
	<form action="/media/upload" enctype="multipart/form-data" method="post">Add a title: 
		<input name="title" type="text" /><br><br>
		<input multiple="multiple" name="upload" type="file" /><br><br>
		<input type="submit" value="Sauver" />
	</form>
  </div>
   <div class="spacer"></div>
          <div class="form-group">
            <div class="col-xs-offset-2 ">
              <a href="#" id="saveProfilButton" ng-click="vm.saveProfil()" class="btn btn-sm btn-success">Sauver <span class="glyphicon glyphicon-floppy-save"></span></a>
            </div>
          </div>
    <div class="row">
      <pre>{{vm.userProfil}}</pre>
    </div>
